html, body {
  margin: 0;
  padding: 0;
  overflow:hidden;
}
canvas {
  display: block;
}
#input{
  border:none;
    margin:auto;
  text-align:center;
  max-width:50%;
  top:48%;
  position:absolute;
  cursor:pointer;
}
#textBox{
  justify-content:center;
  display:flex;
  align-items:center;
}
textarea:focus{
  outline:none;

}
#send{
  background:black;
  color:white;
  top:65%;
  position:absolute;
  text-align:center;
}

.close{
display:none;
}

.open{
 display:flex;
}

.texta{
  resize: none;
  margin-bottom:10px;
  max-width: 500px;
  min-height: 85px;
overflow:hidden;}
